body {
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #488614;
    color: rgb(252, 239, 232);
  }

  .btn {
    background-color: white;
    border: 2px solid black;
    color: green;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
}