<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  <title>ScoreBoard</title>
</head>
<style>
  
</style>
<body>
  <br>
  <br>
  <button class="btn" onclick="window.location.href = '/PackRunner';">Pack Runner</button>
  <button class="btn" onclick="window.location.href = '/RetroMenia';">Retro Menia</button>
  <button class="btn" onclick="window.location.href = '/NinjaClash';">Ninja Clash</button>
</body>
</html>